.map img {
  height: 40px;
  margin: 12px 5px 15px 5px;
}
.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.map a {
  display: flex;
  color: black;
  text-decoration: none;
}
.contactlinks {
  margin: 20px;
  padding-top: 30px;
}
.contactlinkhead {
  width: calc(100% - 40px);

  margin: 20px;
  text-align: center;
}
.contactacting,
.contactcafe {
  margin: 30px;
  display: flex;
  flex-direction: column;

  background-color: #b38f00;
  padding: 30px;
  color: #000000;
  border-radius: 40px;
  width: 70%;
}
li img {
  height: 30px;
}
li,
.lipart {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
}
ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contactheader {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}
li {
  justify-self: center;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}
li a {
  text-decoration: none;
  color: #000000;
}
li p {
  margin: 10px 5px 10px 5px;
}

.contactinfo {
  background-color: #f1f1f1;
  color: #000000;
  padding: 30px;
  width: 60%;
  border-radius: 40px;
  border: 3px solid #ca944b;
  margin: 30px 0 30px 0;
}
.map a p {
  justify-self: center;
  margin-top: 20px;
  color: #d9d9d9;
}
.contactacting h4 {
  font-size: 30px;
  color: #dcdacf;
}

.contactcafe p {
  margin-top: 10px;
}
.contactacting p {
  margin-top: 10px;
}
.contactcafe h4 {
  font-size: 30px;
  color: #dcdacf;
}
@media screen and (max-width: 1000px) {
  .map a p {
    margin: 15px 0px 0px 0px;
  }
  .map img {
    margin: 5px 5px 5px 5px;
  }
  li {
    justify-content: center;
    flex-direction: column;
  }
  li img {
    height: 20px;
  }
  .contactheader {
    font-size: 18px;
  }
  .contactinfo {
    padding: 20px;
  }
  ul {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  li p {
    margin: 5px 3px 5px 3px;
  }
  .lipart {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .lipart p {
    font-size: 14px;
  }
  li {
    gap: 0px;
    width: 100%;
  }
}
